
*{
    box-sizing: border-box;
}

form{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 8px;
}
form input{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 35px;
}

.submit-btn{
    background-color: rgba(0, 0, 255, 0.928);
}

h3{
    color: blue;

}
.face{
    text-align: center;
    margin-top: 250px;
}

h1{
    color: blue;
}