div{
    width: 250px;
    background-color: pink;

    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 30px;

    margin-top: 50px;
    margin-left: 100px;

    border: 3px dashed red;
}